@charset "utf-8";

/* Admin.vue 页面样式 */
.topBar { background:#383d42; height:50px; }
.topBar .bar-item { padding:18px;color:#fff;float:left;height:50px;border-left:1px solid #333644; }
.topBar .bar-item a { color:#fff; }
.topBar .bar-item:hover { background:#333644;cursor:pointer; }
.topBar .bar-item-right { float:right; }
.topBar .ico-item { position:relative;top:-7px;font-size:20px; }
.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item { padding-left:0px !important; }



.main-body { position:absolute; width:100%; top:50px; bottom:0px; background-color:#000; z-index:100; }
.main-body .rightView { width:auto; position:absolute; top:0px; left:180px; bottom:0px; right:0px; overflow:hidden; background:#fff; }
.main-body .rightView .item-menu .view-body-navbar {
  width: 180px;
  float: left;
  background-color: #EAEDF1;
  position: absolute;
  top: 0px;
  bottom: 0px;
  z-index: 2;
  overflow: hidden;
  transition: all 0.2s ease;
}
.main-body .rightView .item-menu .view-body-collapse {
  position: absolute;
  left: 160px;
  top: 50%;
  width: 18px;
  height: 50px;
  line-height:30px;
  font-size:18px;
  z-index: 3;
  transition: all 0.2s ease;
  cursor:pointer;

  border-top: 10px solid transparent;
  border-right: 20px solid #cacaca;
  border-bottom: 10px solid transparent;
  border-left: 0px solid transparent;
}
.main-body .rightView .item-menu .view-body-collapse i { margin-left:5px; }
.main-body .rightView .item-menu .view-body-collapse:hover i { margin-left:3px; }

.main-body .rightView .item-menu .view-body-content{
  position: absolute;
  width: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.2s ease;
}









.main-body .leftMenu { width:180px; position:fixed; top:50px; bottom:0px; background-color:#383d42; overflow-x:hidden; overflow-y:hidden; }
.main-body .leftMenu .sidebar-inner { height:30px; width:100%; background:#4A5064; text-align:center; font-size:20px;color:#fff; cursor:pointer; }



