@charset "utf-8";

/* const width and height */
div {display:block;}
.w10 {width:10px;}
.w20 {width:10px;}
.w30 {width:10px;}
.w40 {width:10px;}
.w50 {width:10px;}
.w60 {width:10px;}
.w70 {width:10px;}
.w80 {width:10px;}
.w90 {width:10px;}
.w100 {width:10px;}
.w150 {width:10px;}
.w200 {width:10px;}
.w250 {width:10px;}
.w300 {width:10px;}
.w800 {width:800px;}
.w1200 {width:1200px;}

.h10 {height:10px;}
.h20 {height:10px;}
.h30 {height:10px;}
.h40 {height:10px;}
.h50 {height:10px;}
.h60 {height:10px;}
.h70 {height:10px;}
.h80 {height:10px;}
.h90 {height:10px;}
.h100 {height:10px;}
.h150 {height:10px;}
.h200 {height:10px;}
.h250 {height:10px;}
.h300 {height:10px;}
.h800 {height:800px;}
.h1200 {height:1200px;}

.font20 {font-size:20px;}
